@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  height: auto;
  animation: fade-in 0.8s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.show {
  opacity: 1;
}

.content {
  position: relative;
  display: flex;
  /* border: 0.1px solid transparent; */
  /* border: 5px solid orange; */
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.span {
  color: rgb(176, 231, 144);
}

.navbar-menu a:hover {
  background: rgb(51, 147, 131);
}

.container {
  position: inherit;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 500px;
  width: 380px;
  border: solid rgb(100, 98, 98);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.container-2 {
  margin-right: 10%;
}

.wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.fb {
  border: 0.5px solid black;
}
.tw {
  border: 0.5px solid black;
}
.li {
  border: 0.5px solid black;
}

.fb:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.tw:hover {
  cursor: pointer;
  background-color: #00acee;
}
.li:hover {
  cursor: pointer;
  background-color: #3b5998;
}

.container h1 {
  position: relative;
}

.container h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 4px;
  background-color: rgb(23, 57, 248);
}

.caret {
  position: absolute;
  margin-top: 3%;
  margin-right: 2%;
  transform: translateY(-50%);
  width: 1em;
  height: 1.2em;
  border-right: 2px solid black;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(23, 57, 248);
  }
}

.container-2 {
  /* border: solid rgb(5, 5, 5); */
  margin-top: 12%;
  margin-bottom: 10%;
  width: 500px;
}

.container-2 .resume {
  border: 0.5px solid blue;
}
.container-2 .project {
  border: 0.5px solid black;
}

@media (max-width: 767px) {
  .App {
    background: white;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
  /* /* .hamburger {
    position: relative;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .hamburger-line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: rgb(216, 71, 71);
  } */
  /* 
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: block;
  }  */
  .content::before {
    background: white;
  }
  .name {
    font-size: 25px;
  }
  .course {
    font-size: large;
    padding-right: 28px;
  }
  .nav-head {
    margin-left: 5px;
  }
  .content {
    display: block;
  }
  .container {
    background-color: rgb(51, 139, 147);
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
  }
  .container-2 {
    position: relative;
    margin-left: 10%;
    width: auto;
  }
  .wrapper {
    position: relative;
    margin-top: 7rem;
  }
  .container-2 h1 {
    font-size: 32px;
    line-height: 2.25rem;
  }
  .container-2 h2 {
    margin-top: 10px;
    font-size: 22px;
  }
  .container-2 p {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    width: auto;
  }
  .footer {
    font-size: 15px;
    padding: 10px 24px;
  }
}
@media (min-width: 768px) and (max-width: 1160px) {
  .App {
    background-color: white;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
  .container {
    margin-left: 1rem;
    width: 400px;
  }
  .navbar-menu a {
    width: 120px;
    font-size: small;
    margin-right: -5%;
  }
  .name {
    font-size: large;
    width: 200px;
  }
  .name span {
    font-size: 18px;
  }
  .about {
    padding-left: 20px;
    width: 120px;
  }
  .wrapper {
    position: relative;
    margin-top: 4rem;
  }
}

/* NAVBAR RESPONSIVE CSS */
@media (max-width: 767px) {
  .navbar-toggle {
    display: block;
    top: 0;
    right: 0;
    margin: 1rem;
    border: none;
    outline: none;
    z-index: 9999;
    color: rgb(254, 254, 254);
  }

  .navbar-toggle:focus {
    outline: none;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 11%;
    right: 0;
    width: 100%;
    background: radial-gradient(
      circle at 5.6% 54.5%,
      rgb(47, 71, 79) 0%,
      rgb(159, 188, 198) 83.6%
    );
    opacity: 0.8;
    z-index: 999;
  }

  .menu-icon {
    color: #fff;
    font-size: 32px;
  }

  .navbar-menu.open {
    display: block;
  }

  .navbar-menu a {
    display: block;
    padding: 20px;
    margin-left: 5px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: white;
    border-bottom: 1px solid rgb(126, 125, 125);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-decoration: none;
    transition: 1s ease;
  }
  .navbar-menu a:hover {
    background-color: transparent;
  }
  .menu-icon {
    transition: transform 1s ease;
  }
}

/* CSS FOR RESUME PAGE */
.title {
  justify-content: center;
}
.page-resume {
  display: block;
  margin-bottom: -25px;
  border: 0.5px solid transparent;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.experience {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 1%;
  justify-content: center;
  width: 900px;
}
.download:hover {
  border: 1px solid blue;
}

.boxes {
  transition: transform 0.5s;
  margin: 1% auto;
  justify-content: center;
  width: 850px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 0.5rem;
}
.boxes:hover {
  transform: scale(1.05);
}

.date {
  color: rgb(21, 75, 21);
}
.company {
  color: rgb(54, 54, 54);
}
.location {
  color: rgb(54, 54, 54);
}

.paragraph {
  width: 400px;
}

.description span {
  font-size: 20px;
  color: green;
}

.learnings {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border: 1px solid black;
  border-radius: 10px 4px;
  box-shadow: 5px 10px #888888;
}

.learnings span {
  font-size: 20px;
  color: green;
}
.skills {
  margin: 5% auto;
  justify-content: center;
  width: 1000px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.skills-margin {
  width: 820px;
}
.skills-cont {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 0.5rem;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.skills-cont:hover {
  cursor: pointer;
  transform: scaleX(1.05);
}
@media (max-width: 767px) {
  .Margin {
    margin: 1rem 1rem;
  }
  .title {
    width: 300px;
    margin-top: 10%;
  }
  .title h1 {
    font-size: 30px;
  }
  .title img {
    height: 3rem;
  }
  .experience {
    text-align: left;
    display: block;
    margin-left: -2rem;
    margin-top: 10%;
  }
  .download {
    margin-top: 1%;
    margin-left: 4%;
  }
  .boxes {
    display: block;
    width: auto;
    margin-top: 5%;
  }
  .boxes-margin {
    width: auto;
    padding-top: 3%;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-inline-start: 1rem;
  }
  .paragraph {
    margin-top: 0rem;
    width: auto;
  }
  .para-des {
    padding-top: 0;
  }
  .description {
    margin-left: 5%;
    width: auto;
  }
  .learnings {
    width: auto;
  }
  .skills {
    border-radius: 1rem;
    padding: 5px 5px;
    display: block;
    width: auto;
  }
  .skills-margin {
    margin-left: 5%;
    width: auto;
  }
  .skills-margin h1 {
    padding-bottom: 5%;
  }
  .sliding-container {
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .slider {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
  }

  .skills-cont {
    height: 200px;
    background-color: rgb(139, 239, 139);
    flex: 0 0 auto;
    margin: 4px;
  }
}
@media (min-width: 768px) and (max-width: 1160px) {
  .experience {
    width: auto;
  }
  .boxes {
    width: auto;
  }
  .skills {
    width: auto;
  }

  .sliding-container {
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .slider {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
  }

  .skills-cont {
    height: 200px;
    width: auto;
    flex: 0 0 auto;
    margin: 4px;
  }
}
/* PAGE ANIMATION */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}
