@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background-color: white;
  height: 100vh;
  animation: fade-in 0.8s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.show {
  opacity: 1;
}

.content {
  position: relative;
  display: flex;
  border: 0.1px solid transparent;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background-color: rgb(209, 216, 205);
}

.span {
  color: rgb(209, 216, 205);
}

.container {
  position: inherit;
  background-color: rgb(209, 216, 205);
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 500px;
  width: 380px;
  border: solid rgb(100, 98, 98);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: white;
}
.container-2 {
  margin-right: 10%;
}

.wrapper {
  margin-top: 16%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.fb {
  border: 0.5px solid black;
}
.tw {
  border: 0.5px solid black;
}
.li {
  border: 0.5px solid black;
}

.fb:hover {
  cursor: pointer;
  background-color: #3b5998;
}
.tw:hover {
  cursor: pointer;
  background-color: #00acee;
}
.li:hover {
  cursor: pointer;
  background-color: #3b5998;
}

.container h1 {
  position: relative;
}

.container h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 4px;
  background-color: rgb(23, 57, 248);
}

.caret {
  position: absolute;
  margin-top: 3%;
  margin-right: 2%;
  transform: translateY(-50%);
  width: 1em;
  height: 1.2em;
  border-right: 2px solid black;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(23, 57, 248);
  }
}

.container-2 {
  /* border: solid rgb(5, 5, 5); */
  margin-top: 12%;
  margin-bottom: 10%;
  width: 500px;
}

.container-2 .resume {
  border: 0.5px solid blue;
}
.container-2 .project {
  border: 0.5px solid black;
}

@media (max-width: 576px) {
  .App {
    background-color: white;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
  .content::before {
    background: white;
  }
  .name {
    font-size: 25px;
  }
  .course {
    font-size: large;
  }
  .nav-head {
    margin-left: 5px;
  }
  .content {
    display: block;
  }
  .container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 300px;
  }
  .container-2 {
    position: relative;
    margin-left: 10%;
  }
  .wrapper {
    position: relative;
    margin-top: 38%;
  }
  .container-2 h1 {
    font-size: 32px;
    line-height: 2.25rem;
  }
  .container-2 h2 {
    margin-top: 10px;
    font-size: 22px;
  }
  .container-2 p {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    width: 60%;
  }
  .footer {
    font-size: 15px;
    padding: 10px 24px;
  }
}
